<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Actualizar Perfil</title>
        <link rel="stylesheet" href="./css/estilo_registro.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    </head>

    <body>
        <div class="registration-form">

            <form th:action="@{/usuario/actualizar-perfil}" method="POST">
                <input type="hidden" name="id" th:value="${perfil.id}">
                <h1>Editar Perfil</h1>
                <div class="input-box"> <i class="fas fa-user"></i><input type="text" name="nombre" th:value="${perfil.nombre}" placeholder="Ingrese su nombre"></div>
                <div class="input-box"> <i class="fas fa-user"></i><input type="text" name="apellido" th:value="${perfil.apellido}" placeholder="Ingrese su apellido"> </div>
                <div class="input-box"> <i class="fas fa-envelope"></i><input type="email" name="mail" th:value="${perfil.mail}" placeholder="Ingrese su mail"> </div>
                <div class="input-box"> <i class="fas fa-lock"></i><input type="password" name="clave1" th:value="${clave1}" placeholder="Ingrese la contraseña"> </div>
                <div class="input-box"> <i class="fas fa-lock"></i><input type="password" name="clave2" th:value="${clave2}" placeholder="Repita la contraseña"></div> 
                <p th:if="${error!= null}" th:text="${error}" style="color: red"></p>
              
                <button type="submit">Actualizar</button>
            </form>
          

        </div>

    </body>

</html>