<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/main_usuario.css">
        
        <script src="https://kit.fontawesome.com/178bd61f9b.js" crossorigin="anonymous"></script>


        <title>Usuario</title>
    </head>

    <body>

        <header>
            <div id="header">
                
               <!-- ESTE H2 MUESTRA EL NOMBRE Y APELLIDO DEL USUARIO LOGUEADO -->  
               <!--  <h2 th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}"></h2>
               --> 
               <div class="form">
                    <form action="" class="busqueda">
                        <input type="text" placeholder="Ingrese Titulo, ISBN, Autor o Editorial">
                        <input type="submit" value="Buscar">
                    </form>
                </div>

                <nav class="logueo">
                    <a th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}">Configura tu Perfil</a>
                    <a th:href="@{/logout}">Cerrar Sesión</a>
                </nav>
            </div>

        </header>
        <div class="div">
            <div class="cont-left">

                <ul class="menu">
                    <li><a href="#"><i class="icono izquierda fa-solid fa-person"></i>AUTORES<i
                                class=" icono derecha fa-solid fa-chevron-down"></i></a>
                        <ul>
                            <li><a th:href="@{/autor/registro}">Agregar</a></li>
                            <li><a th:href="@{/autor/lista}">Listar/Modificar</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icono izquierda fa-solid fa-newspaper"></i>EDITORIALES<i
                                class=" icono derecha fa-solid fa-chevron-down"></i></a>
                        <ul>
                            <li><a th:href="@{/editorial/registro}">Agregar</a></li>
                            <li><a th:href="@{/editorial/lista}">Listar/Modificar</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icono izquierda fa-solid fa-book"></i>LIBROS<i
                                class=" icono derecha fa-solid fa-chevron-down"></i></a>
                        <ul>
                            <li><a th:href="@{/libro/registro}">Agregar</a></li>
                            <li><a th:href="@{/libro/lista}">Listar/Modificar</a></li>

                        </ul>
                    </li>
                    <li><a href="#"><i class="icono izquierda fa-solid fa-book-open-reader"></i>CLIENTES<i
                                class=" icono derecha fa-solid fa-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Agregar</a></li>
                            <li><a href="#">Listar/Modificar</a></li>

                        </ul>
                    </li>
                </ul>
            </div>

            <div class="cont-right">
                <div class="cont-top">
                    <!-- aca va solo una imagen -->
                </div>
                <div class="genero">
                    <a href="#">COMEDIA</a>
                    <a href="#">TERROR</a>
                    <a href="#">DRAMA</a>
                    <a href="#">ACCION</a>
                    <a href="#">NOVELA</a>
                    <a href="#">OTROS</a>

                </div>
                <div class="table">

                    <div class="table_section">
                        <table>
                            <thead>
                                <tr>
                                    <th>Foto</th>
                                    <th>Titulo</th>
                                    <th>ISBN</th>
                                    <th>Año</th>
                                    <th>Autor</th>
                                    <th>Género</th>
                                    <th>Editorial</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody th:each="libro : ${libros}">
                                <tr>
                                    <td><img th:if="${libro.foto != null}" th:src="${'/foto/libro/' + libro.id}"/>
                                    </td>
                                    <td th:text="${libro.titulo}"></td>
                                    <td th:text="${libro.isbn}"></td>
                                    <td th:text="${libro.anio}"></td>
                                    <td th:text="${libro.autor.nombre}"></td>
                                    <td th:text="${libro.genero.nombre}"</td>
                                    <td th:text="${libro.editorial.nombre}"></td>
                                    <td> <a href="" ><i class="fa-solid fa-pen-to-square"></i></a> <a href=""><i class="fa-solid fa-trash"></i></a> </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="./js/main.js"></script>
    </body>

</html>